@import "tailwindcss";

*{
  box-sizing: border-box;
  position: relative;
  min-width: 0;
 
}
body{
  min-height: 100dvh;
  background-color: #769164;

}
.bgCafeteria{
  background-image:url("https://res.cloudinary.com/deqbqghhq/image/upload/v1741643208/cafe_1_pwhanm.png") ;
  background-size:contain;  
  background-repeat: no-repeat; 
}

.bgPasteleria{
  background-image:url("https://res.cloudinary.com/deqbqghhq/image/upload/v1741646443/cafe_1_pxvjru.png") ;
  background-size:contain;  
  background-repeat: no-repeat; 
}

  
